# Compiled class files (any folder)
**/*.class

# Logs (any folder)
**/*.log

# Package files (any folder)
**/*.jar
**/*.war
**/*.ear

# Maven (any folder)
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/dependency-reduced-pom.xml
**/.buildNumber
**/.mvn/timing.properties

# Gradle (any folder)
**/.gradle/
**/build/

# IntelliJ IDEA (any folder)
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/out/

# Eclipse (any folder)
**/.project
**/.classpath
**/.settings/

# VS Code (any folder)
**/.vscode/

# OS files (any folder)
**/.DS_Store
**/Thumbs.db
